.center {
	display: flex;
	justify-content: center;
}

.quote {
	max-width: 600px; 
	/* border-style: solid; */
	/* border-color: red; */
	background-color: #324A5E;
	color: #FFF;
	border-radius: 25px;
	padding: 0 20px;
}

/* Header */
header {
	background-color: #324A5E;
	color: #FFF;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 50px;
	margin-bottom: 30px;
}

#nav-title {
	margin-right: auto;
	font-size: 1.5em;
}

header li {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}

header a {

	text-decoration: none;
	color: #FFF;
	transition: all 0.3s ease 0s;
}

header a:hover {
	color: #FFD05B;
}
